@import url('whitespace-reset.css');

body {
  background: url("company_splash_page/bg_body.gif");
  font-family: 'Nunito Sans', sans-serif;
}

header {
  width: 1000px;
  margin: 0 auto;
}

#logo {
  display: block;
  margin: 159px auto 94px auto;
}

main {
  display: block;
  width: 1000px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  font-size: 36px;
  color: #45494d;
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
}

span {
  margin: 0 28px;
  color: #2f2840;
}

#about-us {
  padding-top: 112px;
}

#our-founder {
  margin-top: 106px;
}

p {
  margin: 30px auto 0 auto;
  font-size: 20px;
  padding: 0 94px;
  padding-bottom: 70px;
}

h3 {
  margin: 30px auto;
  font-size: 24px;
  color: #3e98b2;
}

footer {
  width: 1000px;
  margin: 0 auto 143px auto;
  background-color: #e7e7e7;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
}

li {
  margin: 0 61px;
}